<ul class="nav btn-group" style="width: auto; margin: 0px;">
  <% actions(:root).each do |action| %>
    <li class="btn btn-inverse">
      <%= link_to localizing_path dashboard_path do %>
        <i class="icon icon-signal"></i>
        <span class="text"><%= wording_for(:menu, action) %></span>
      <% end %>
    </li>
  <% end %>
  <% if _current_user %>
    <% if user_link = edit_user_link %>
      <li class="btn btn-inverse">
        <%= link_to locale_url_for(:action => 'edit', :model_name => 'consul', :id => _current_user.id, :controller => 'rails_admin/main') do %>
          <i class="icon icon-user"></i>
          <span class="text"><%= _current_user.email %></span>
        <% end %>
      </li>
    <% end %>
    <% if Rails.configuration.i18n.available_locales.size > 1 %>
    <li class="btn btn-inverse dropdown" id="menu-languages">
      <%= link_to '#', "data-toggle" => "dropdown", class: "dropdown-toggle" do
          icon = content_tag(:i, '', class: "icon icon-cog")
          text = content_tag(:span, t('admin.menu.Language'), class: "text")
          caret = content_tag(:b, '', class: "caret")
          icon + text + caret
      end %>
      <ul class="dropdown-menu">
        <li class="flag es"><%= link_to "Español", locale: 'es' %></li>
        <li class="flag en"><%= link_to "English", locale: 'en' %></li>
        <li class="flag ca"><%= link_to "Catalan", locale: 'ca' %></li>
      </ul>
    </li>
    <% end %>
    <% if main_app.destroy_consul_session_path.present? %>
      <li class="btn btn-danger">
        <%= link_to main_app.destroy_consul_session_path, :method => Devise.sign_out_via do %>
          <i class="icon icon-share-alt"></i>
          <span class="text"><%= t('admin.misc.log_out') %></span>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>