<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="robots" content="NONE,NOARCHIVE">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= t('site_description') %>">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "admin_base" %>
    <%= javascript_include_tag "rails_admin/rails_admin.js" %>
</head>
<body>
  <div id="loading" class="label label-warning" style="display:none; position: fixed; right: 20px; bottom: 20px; z-index: 10000;">
    <%= t('admin.home.loading') %>
  </div>
  <!-- empieza Unicorn -->
  <div id="header">
    <h1>
        <%= link_to dashboard_path, class: 'brand pjax' do %>
          <%= _get_plugin_name[0] || 'Rails' %>
          <%= content_tag(:small, _get_plugin_name[1] || 'Admin') %>
        <% end %>
    </h1>
  </div>
  <div id="user-nav" class="navbar navbar-inverse">
    <%= render 'layouts/rails_admin/user_navigation' %>
  </div>
  <div id="sidebar">
    <%= link_to "#", class: "visible-phone" do %>
      <i class="icon icon-home"></i>
      <%= t('admin.actions.dashboard.menu') %>
    <% end %>
    <%= render 'layouts/rails_admin/sidebar_menu' %>
  </div>
  <div id="content" data-pjax-container="">
    <%= render :template => 'layouts/rails_admin/pjax' %>
  </div>
  <!-- acaba Unicorn -->
</body>
</html>