<script>//<![CDATA[
  $('#sidebar li.active').removeClass('active');
  $('#sidebar li[data-model="#{@abstract_model.to_param}"]').addClass('active');
//]]></script>

<title>
  <%= "#{@abstract_model.try(:pretty_name) || @page_name} | #{[_get_plugin_name[0] || 'Rails', _get_plugin_name[1] || 'Admin'].join(' ')}" %>
</title>
<div id="content-header">
  <h1><%= @page_name %></h1>
  <% flash && flash.each do |key, value| %>
    <div class="alert alert-<%= "#{key}" %>">
      <%= link_to "x", "#", class: "close", "data-dismiss" => "alert" %>
      <%= value %>
    </div>
  <% end %>
</div>
<%= breadcrumb %>
<ul class="nav nav-tabs">
  <%= menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object) %>
  <%= content_for :contextual_tabs %>
</ul>
<%= yield %>