<div class="container">
  <div id="top-area" class="clearfix">
    <%= link_to t("Brandname"), root_path, class: 'brand' %>
    <div id="mobile_links">
      <%= link_to t("Menu"), '#', class: 'mobile_nav closed' %>
    </div>
    <nav id="top-menu">
      <ul id="menu-pages" class="nav">
        <li><%= link_to t("How it works"), '#' %></li>
        <li><%= link_to t("Plans & Pricing"), '#' %></li>
        <li class="current-menu-item"><% if current_ambassador %>
          <% current_ambassador.oauth_token? ? amclass = 'fbker' : amclass = '' %>
            <%= link_to t("Sign out"), destroy_ambassador_session_path, method: "delete", id: 'sign_out', rel: 'tooltip', 'data-original-title' => t("Sign out"), class: amclass %>
        <% else %>
            <%= link_to t("Sign in"), new_ambassador_session_path, rel: 'tooltip', 'data-original-title' => t("Sign in") %>
        <% end %></li>
      </ul>
    </nav>
  </div>
  <div id="page-name">
    <hgroup class="section-title">
      <h1><%= h1 %></h1>
      <h3><%= h3 %></h3>
    </hgroup>
  </div>
</div>