<% assignments = current_ambassador.assignments.where(mission_id: embassy.mission_ids).count %>
<% points = current_ambassador.points.where(mission_id: embassy.mission_ids).count %>
<% slogans = Slogan.where(mission_id: embassy.mission_ids).map(&:id) %>
<% posts = current_ambassador.posts.where(slogan_id: slogans).count %>
<% rewards = Reward.where(mission_id: embassy.mission_ids).map(&:id) %>
<% badges = current_ambassador.badges.where(reward_id: rewards).count %>

<% performance = (assignments * 10) + (points * 100) + (posts * 100) + (badges * 1000) %>
<% embassy_performance = 
  (Assignment.where(mission_id: embassy.mission_ids).count * 10) +
  (Point.where(mission_id: embassy.mission_ids).count * 100) +
  (Post.where(slogan_id: slogans).count * 100) +
  (Badge.where(reward_id: rewards).count * 1000)
%>
<% rank = ( performance > 0 && rand( 0..100 ) ) || 0 %>

<ul class="performance">
  <li>
    <i class="icon-briefcase icon-3x"></i><span><em><%= assignments %></em>Aceptadas</span></li>
  <li><i class="icon-thumbs-up icon-3x"></i><span><em><%= points %></em>Puntos</span></li>
  <li><i class="icon-comment-alt icon-3x"></i><span><em><%= posts %></em>Posts</span></li>
  <li><i class="icon-bookmark icon-3x"></i><span><em><%= badges %></em>Badges</span></li>
  <li><i class="icon-bar-chart icon-3x"></i><span><em>Top <%= rank %>%</em>Rank</span></li>
</ul>
</li>