<%= javascript_tag do %>
$(document).ready(function(){
  unicorn.peity(); // mini charts
  poppies.popnow(); // popovers on mini charts
});
<% end %>


<div style="text-align: center;" class="span12 center">         
  <ul class="stat-boxes">
    <li class="popover-ambassadors" data-original-title="" title="">
      <div class="left peity_bar_good"><span><span style="display: none;"><%= ambassadors_evolution %></span><canvas width="50" height="24"></canvas></span><%= ambassadors_growth %></div>
      <div class="right">
        <strong><%= active_ambassadors.size %></strong>
        <%= t('activerecord.models.ambassador.other') %>
      </div>
    </li>
    <li class="popover-users" data-original-title="" title="">
      <div class="left peity_bar_neutral"><span><span style="display: none;">20,15,18,14,10,9,9,9</span><canvas width="50" height="24"></canvas></span>0%</div>
      <div class="right">
        <strong>1433</strong>
        Users
      </div>
    </li>
    <li class="popover-orders" data-original-title="" title="">
      <div class="left peity_bar_bad"><span><span style="display: none;">3,5,9,7,12,20,10</span><canvas width="50" height="24"></canvas></span>-50%</div>
      <div class="right">
        <strong>8650</strong>
        Orders
      </div>
    </li>
    <li class="popover-tickets" data-original-title="" title="">
      <div class="left peity_line_good"><span><span style="display: none;">12,6,9,23,14,10,17</span><canvas width="50" height="24"></canvas></span>+70%</div>
      <div class="right">
        <strong>2968</strong>
        Tickets
      </div>
    </li>
  </ul>
</div>