<%= javascript_tag do %>
$(document).ready(function(){
  unicorn.peity(); // mini charts
  poppies.popnow(); // popovers on mini charts
});
<% end %>


<div style="text-align: center;" class="span12 center">         
  <ul class="stat-boxes">
    <li class="popover-ambassadors" data-original-title="" title="">
      <div class="left peity_line_good"><span><span style="display: none;"><%= weekly_evolution(active_ambassadors,7) %></span><canvas width="50" height="24"></canvas></span><%= last_growth(active_ambassadors) %></div>
      <div class="right">
        <strong><%= active_ambassadors.size %></strong>
        <%= t('activerecord.models.ambassador.other') %>
      </div>
    </li>
    <li class="popover-points" data-original-title="" title="">
      <div class="left peity_bar_neutral"><span><span style="display: none;"><%= weekly_evolution(current_points,7) %></span><canvas width="50" height="24"></canvas></span><%= last_growth(current_points) %></div>
      <div class="right">
        <strong><%= current_points.size %></strong>
        <%= t('activerecord.models.point.other') %>
      </div>
    </li>
    <li class="popover-posts" data-original-title="" title="">
      <div class="left peity_line_bad"><span><span style="display: none;"><%= weekly_evolution(current_posts, 7) %></span><canvas width="50" height="24"></canvas></span><%= last_growth(current_posts) %></div>
      <div class="right">
        <strong><%= current_posts.size %></strong>
        <%= t('activerecord.models.post.other') %>
      </div>
    </li>
    <li class="popover-badges" data-original-title="" title="">
      <div class="left peity_line_good"><span><span style="display: none;"><%= weekly_evolution(current_badges, 7) %></span><canvas width="50" height="24"></canvas></span><%= last_growth(current_badges) %></div>
      <div class="right">
        <strong><%= current_badges.size %></strong>
        <%= t('activerecord.models.badge.other') %>
      </div>
    </li>
  </ul>
</div>