<%= javascript_tag do %>
$(document).ready(function(){
  mainchart.mychart(8,10);  // main chart

$("#daily_graph").click(function () {
  mainchart.mychart(8,10);  // main chart
  return false;
});

$("#monthly_graph").click(function () {
    mainchart.mychart(8,10,'monthly');  // main chart by months
    return false;
  });

});
<% end %>


<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-signal"></i>
    </span>
    <h5><%= t('admin.home.Embassy statistics') %></h5>
    <%= main_chart g_days=Date.today.yday %>
    <% if Rails.env.development? %>
    <div class="buttons">
      <a id="monthly_graph" class="btn btn-mini tip-top" href="#" data-original-title="<%= t('admin.home.mm.tip') %>">
        <i class="icon-refresh"></i>
        <%= t('admin.home.Monthly graph') %>
      </a>
      <a id="daily_graph" class="btn btn-mini tip-bottom" href="#" data-original-title="<%= t('admin.home.dm.tip', days: g_days) %>">
        <i class="icon-refresh"></i>
        <%= t('admin.home.Daily graph') %>
      </a>
    </div>
    <% end %>
  </div>
  <div class="widget-content">
    <div class="row-fluid">
      <div class="span4">
        <ul class="site-stats">
          <li><i class="icon-heart"></i> <strong><%= active_ambassadors %></strong> <small><%= t('admin.home.total', model: t('activerecord.models.ambassador.other')) %></small></li>
          <li><i class="icon-arrow-right"></i> <strong><%= range_for_graph Ambassador, 1, "weeks" %></strong> <small><%= t('admin.home.total_new_last_week', model: t('activerecord.models.ambassador.other')) %></small></li>
          <li class="divider"></li>
          <li><i class="icon-thumbs-up"></i> <strong><%= current_points %></strong> <small><%= t('admin.home.total', model: t('activerecord.models.point.other')) %></small></li>
          <li><i class="icon-arrow-right"></i> <strong><%= range_for_graph Point, 1, "weeks" %></strong> <small><%= t('admin.home.total_new_last_week', model: t('activerecord.models.point.other')) %></small></li>
          <li><i class="icon-bullhorn"></i> <strong><%= current_posts  %></strong> <small><%= t('admin.home.total', model: t('activerecord.models.post.other')) %></small></li>
        </ul>
      </div>
      <div class="span8">
        <div class="chart"></div>
      </div>
    </div>
  </div>
</div>