<%= javascript_tag do %>
$(document).ready(function(){
  mainchart.mychart();  // main chart

$("#daily_graph").click(function () {
  mainchart.mychart();  // main chart
  return false;
});

$("#monthly_graph").click(function () {
    mainchart_month.mychart();  // main chart by months
    return false;
  });

});
<% end %>


<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-signal"></i>
    </span>
    <h5><%= t('admin.home.Embassy statistics') %></h5>
    <div id="chart_data" style="display:none;" data-custom-fdate='<%= total_days = 90 %>'>
      <% serie_1 = serie_2 = [] %>
      <% days = total_days %>
      <div id="serie_1" data-custom-label="Ambassadors">
        <% 0..(days).times do |n| %>
          <span style="display: none;" data-custom-date='<%= "#{(days-n).days.ago.to_i*1000}" %>' class='<%= "#{n}" %>'><%= daily_count Ambassador, days-1-n %></span>
        <% end %>
      </div>
      <div id="serie_2" data-custom-label="Points">
        <% 0..(days).times do |n| %>
          <span style="display: none;" data-custom-date='<%= "#{(days-n).days.ago.to_i*1000}" %>' class='<%= "#{n}" %>'><%= daily_count Point, days-1-n %></span>
        <% end %>
      </div>
    </div>
    <div class="buttons">
      <a id="monthly_graph" class="btn btn-mini tip-top" href="#" data-original-title="<%= t('admin.home.mm.tip') %>">
        <i class="icon-refresh"></i>
        <%= t('admin.home.Monthly graph') %>
      </a>
      <% if Rails.env.development? %>
      <a id="daily_graph" class="btn btn-mini tip-bottom" href="#" data-original-title="<%= t('admin.home.dm.tip') %>">
        <i class="icon-refresh"></i>
        <%= t('admin.home.Daily graph') %>
      </a>
      <% end %>
    </div>
  </div>
  <div class="widget-content">
    <div class="row-fluid">
      <div class="span4">
        <ul class="site-stats">
          <li><i class="icon-user"></i> <strong>1433</strong> <small>Total Users</small></li>
          <li><i class="icon-arrow-right"></i> <strong>16</strong> <small>New Users (last week)</small></li>
          <li class="divider"></li>
          <li><i class="icon-shopping-cart"></i> <strong>259</strong> <small>Total Shop Items</small></li>
          <li><i class="icon-tag"></i> <strong>8650</strong> <small>Total Orders</small></li>
          <li><i class="icon-repeat"></i> <strong>29</strong> <small>Pending Orders</small></li>
        </ul>
      </div>
      <div class="span8">
        <div class="chart"></div>
      </div>
    </div>
  </div>
</div>