<div class="missions_block_instructions_image panel_image">
</div>
<ol class="accordion instructions rounded-list" id="accordion_instructions">
  <li class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_instructions" href="#collapseOne">
        <span><%= t('ambassador_area.instructions.Points') %></span>
      <i class="icon-caret-down"></i></a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= t('ambassador_area.instructions.Points_detail') %>
      </div>
    </li>
    <li class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_instructions" href="#collapseTwo">
          <span><%= t('ambassador_area.instructions.Name') %></span>
        <i class="icon-caret-down"></i></a>
      </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= t('ambassador_area.instructions.Name_detail') %>
      </div>
    </li>
    <li class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_instructions" href="#collapseThree">
          <span><%= t('ambassador_area.instructions.Description') %></span>
        <i class="icon-caret-down"></i></a>
      </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= t('ambassador_area.instructions.Description_detail') %>
      </div>
    </li>
    <li class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_instructions" href="#collapseFour">
          <span><%= t('ambassador_area.instructions.Link') %></span>
        <i class="icon-caret-down"></i></a>
      </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= t('ambassador_area.instructions.Link_detail') %>
      </div>
    </li>
    <li class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_instructions" href="#collapseFive">
          <span><%= t('ambassador_area.instructions.Buttons') %></span>
        <i class="icon-caret-down"></i></a>
      </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= t('ambassador_area.instructions.Buttons_detail') %>
      </div>
    </li>
    <li class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_instructions" href="#collapseSix">
          <span><%= t('ambassador_area.instructions.Rewards') %></span>
        <i class="icon-caret-down"></i></a>
      </div>
    <div id="collapseSix" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= t('ambassador_area.instructions.Rewards_detail') %>
      </div>
    </li>
    <li class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_instructions" href="#collapseSeven">
          <span><%= t('ambassador_area.instructions.Accept') %></span>
        <i class="icon-caret-down"></i></a>
      </div>
    <div id="collapseSeven" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= t('ambassador_area.instructions.Accept_detail') %>
      </div>
    </li>
    <li class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_instructions" href="#collapseEight">
          <span><%= t('ambassador_area.instructions.Slogans') %></span>
        <i class="icon-caret-down"></i></a>
      </div>
    <div id="collapseEight" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= t('ambassador_area.instructions.Slogans_detail') %>
      </div>
    </li>
</ol>