<% tracking_URL = "http://" + mission.tracking_url + "?ambassador=" + current_ambassador.tracking_id %>

<li>
  <ul>
    <li><%= link_to mission.name, embassy_mission_path(mission.embassy_id, mission.id) %></li>
    <li><%= mission.short_description %></li>
    <li><%= t("Tracking URL") %>: <%= link_to tracking_URL, tracking_URL %></li>
    <li><ul><%= render mission.rewards %></ul></li>
    <li><ul><%= render mission.slogans %></ul></li>
    <%= render 'missions/accept_form', mission: mission %>
  </ul>
</li>