<% tracking_URL = "http://" + mission.tracking_url + "?ambassador=" + current_ambassador.tracking_id %>
<% assignment = mission.assignments.where(ambassador_id: current_ambassador.id) %>

<li class="span3">
<div class="mission_block thumbnail">
  <p class="mission_points"><%= current_ambassador.points.where(mission_id: mission.id).count %><span>Pts</span></p>
  <article>
      <h1><%= link_to mission.name, embassy_mission_path(mission.embassy_id, mission.id) %></h1>
      <p class="mission_description"><%= mission.short_description %></p>
    <% unless assignment.empty? %>
      <div class="sharing">
        <h4><%= t("ambassador_area.Link to share") %>:</h4>
        <p class="short_url"><%= link_to assignment.first.short_url, assignment.first.short_url %></p>
        <div class="sharing_icons">
          <a href="mailto:&subject=this"><i class="icon-envelope" rel="tooltip" data-original-title="<%= "help" %>"></i></a>
          <a href="http://www.facebook.com"><i class="icon-facebook"></i></a>
          <a href="http://www.google.com"><i class="icon-google-plus"></i></a>
          <a href="http://www.twitter.com"><i class="icon-twitter"></i></a>
          <a href="http://www.pinterest.com"><i class="icon-pinterest"></i></a>
        </div>
      </div>
    <% end %>
    <ul class="rewards">
      <h4><%= Reward.model_name.human.pluralize %>:</h4>
      <%= render mission.rewards %>
    </ul>
    <% unless mission.slogans.empty? %>
    <ul>
      <h3><%= Post.model_name.human.pluralize %>:</h3>
      <%= render mission.slogans %>
    </ul>
    <% end %>
    <%= render 'missions/accept_form', mission: mission, assignment: assignment %>
  </article>
</div>
</li>