<% tracking_URL = "http://" + mission.tracking_url + "?ambassador=" + current_ambassador.tracking_id %>

<li>
  <ul>
    <li><%= link_to mission.name, embassy_mission_path(mission.embassy_id, mission.id) %></li>
    <li><%= mission.short_description %></li>
    <li><%= t("Sharing URL") %>: <%= link_to tracking_URL, tracking_URL %></li>
    <li><ul><%= render mission.rewards %></ul></li>
    <%= 
    #render 'accept_form' 
    %>
  </ul>
</li>