<% provide :title, @mission.name %>

<h1><%= @mission.name %></h1>

<h2><%= @mission.short_description %></h2>
<h3><%= t("Pixel") %>: <%= tracker_url(ambassador_id: current_ambassador.id, mission_id: @mission.id) %></h3>

<ul>
<%= render @rewards %>
</ul>