<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= t('site_description') %>">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim-respond-modernizr' %>
</head>
<body>
  <div id="container">
    <header><%= link_to t("Home"), root_path %></header>
    <div id="main" role="main">
      <%= render 'layouts/flash', flash: flash %>
      <%= yield %>
    </div><!-- end of main -->
    <footer></footer>
  </div><!-- end of container -->

  <% unless Rails.env.production? %>
    <pre class="debug"><%= debug(params) %></pre>
    <pre class="debug"><%= debug(cookies) %></pre>
  <% end %>

  <%= javascript_include_tag "application" %>
  <%= render 'layouts/analytics', analytics_code: 'UA-12345-6' if Rails.env.production? %>
</body>
</html>
